/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
div.LoginHeaderBar {
  background-color:rgb(255,255,255,1);
  border-color:rgba(0,0,0,0);
  border-radius:100vh;
  border-style:solid;
  padding:var(--lumo-space-m);
}

html {
  --lumo-base-color:rgba(0,133,201);
  --lumo-body-text-color:rgba(10,10,10,0.94);
  --lumo-header-text-color:rgba(0,133,201);
}

vaadin-login-form vaadin-login-form-wrapper {
  background-color:rgba(242,244,245,1);
  border-radius:16px;
}

vaadin-login-form vaadin-login-form-wrapper::part(form-title) { font-size:var(--lumo-font-size-xl); }
