/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
.AppNavbarLayout {
    padding: var(--lumo-space-s);
}

.AppSubTitel {
    background-color: rgb(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 100vh;
    border-style: solid;
    padding: var(--lumo-space-s);
}

.AppTitel,
.AppDrawerToggle {
  background-color:rgb(255,255,255,1);
  border-color:rgba(0,0,0,0);
  border-radius:100vh;
  border-style:solid;
    padding: var(--lumo-space-m);
}

.Button {
    background-color: rgb(230, 230, 230, 1);
}

.MainViewContent {
    background-color: rgba(200, 200, 200, 1);
}

.MainViewContentElements {
    background-color: rgba(255, 255, 255, 1);
}

html {
    --lumo-base-color: rgba(0, 133, 201);
    --lumo-body-text-color: rgba(10, 10, 10, 1);
    --lumo-header-text-color: rgba(0, 133, 201);
}

vaadin-login-form vaadin-login-form-wrapper {
  background-color:rgba(242,244,245,1);
  border-radius:16px;
}

vaadin-login-form vaadin-login-form-wrapper::part(form-title) { font-size:var(--lumo-font-size-xl); }

vaadin-side-nav-item::part(content) {
  background-color:rgb(255,255,255,1);
  border-color:rgba(0,133,201,1);
  border-radius:100vh;
  border-style:solid;
  padding:var(--lumo-space-xs);
}

vaadin-side-nav.MainViewSideNav { padding:var(--lumo-space-s); }

/* Grid Styles */
.DataGrid {
    background-color: rgb(255, 255, 255, 1);
    border: 1px solid var(--lumo-contrast-10pct);
    overflow: hidden;
}

.DataGrid::part(header-cell) {
    background-color: rgb(255, 255, 255, 1);
    color: black;
    font-weight: bold;
    border-bottom: 1px solid var(--lumo-contrast-10pct);
}

.DataGrid::part(row)[selected] {
    background-color: var(--lumo-primary-color-50pct) !important;
    color: var(--lumo-primary-contrast-color) !important;
}

.DataGrid::part(cell) {
    background-color: rgb(255, 255, 255, 1);
    padding: var(--lumo-space-s);
}

.DataGrid vaadin-text-field {
    --lumo-contrast-10pct: transparent;
    background-color: transparent;
    border-radius: var(--lumo-border-radius-s);
    margin: 0;
}

.DataGrid vaadin-text-field::part(input-field) {
    background-color: transparent;
}
